body {
  background-color: #63734A;
}
#totalExpenses {
  color: red;
  text-decoration: underline
}
#eyes {
  max-width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
